html {
    scroll-behavior: smooth;
}
#toc-main{
    font-size: 14px;
    border: 2px solid rgb(229 231 235)!important;
}
#toc-main .toc_title{
    font-weight: 600 !important;
    color: #062759;
    border-bottom: 2px solid rgb(229 231 235);
    background: #F1F2F7;
    padding: 0.25rem 0 0.25rem 1rem!important;
}
#tableofcontent > li, #toc-main > li{
    list-style-type: none;
    font-size: 12px;
    font-weight: 600 !important;
    padding-left: 1rem !important;
    margin: 0.5rem 0 !important;
}
#tableofcontent ul{
    margin-bottom: 0.5rem !important;
    padding-left: 2rem !important;
}
